@import ../_vars

.deckindex
  margin: $space-medium 0 $space-huge
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(340px,1fr))
  gap: $space-medium

.deckindexcard
  background: #000
  width: 100%
  height: 132px
  display: block
  text-decoration: none
  overflow: hidden
  position: relative
  &__illustration
    position: absolute
    left: 50%
    transform: translate3d(-50%,15%,0) scale(1.4,1.4)
    z-index: $z-deckindex-illustration
  &__content
    z-index: $z-deckindex-content
    position: absolute
    top: 6px
    left: 6px
    right: 6px
    bottom: 6px
  &__name
    font-size: 18px
    line-height: 24px
    color: #FFF
  &__byline
    font-size: 15px
    line-height: 24px
    color: #FFF
  &__clans
    display: flex
    margin-top: 6px
  &__clan
    display: block
    width: 24px
    height: 24px
    margin-left: 8px
    &:first-child
      margin-left: 0
  &__summary
    font-size: 15px
    line-height: 15px
    color: #FFF
    text-align: center
    position: absolute
    bottom: 2px
    left: 0
    right: 0
  &__summary-item
    white-space: nowrap

.char-bg
  overflow: hidden
  position: relative
  width: 240px
  height: 195px
  &__img
    position: absolute
    top: -72px
    left: -58px
    z-index: 1
  &__mask
    position: absolute
    height: 100%
    width: 100%
    z-index: 2
    background: linear-gradient(90deg, rgba(0,0,0,1) 1%, rgba(0,0,0,0.4) 20%, rgba(0,0,0,0.4) 80%, rgba(0,0,0,1) 99%)
