@import ../_vars

.decklist
  display: grid
  gap: 0 12px
  grid-template-columns: repeat(6, 1fr)

  &__title
    grid-column: 1 / 7

  &__core
    grid-column: 1 / 7
  &__core-image
    display: none

  &__faction,
  &__library
    grid-column: 1 / 7
  @media screen and ( min-width: $breakpoint-ipad--horizontal)
    &__core-image
      display: block
    &__core-heading
      display: none

    &__agenda
      grid-row: 3 / 4
      grid-column: 3 / 5
    &__leader
      grid-row: 3 / 4
      grid-column: 1 / 3
    &__haven
      grid-row: 3 / 4
      grid-column: 5 / 7

    &__faction,
    &__library
      grid-row: 4 / 5
      margin-top: 24px
    &__faction
      grid-column: 1 / 4
    &__library
      grid-column: 4 / 7

  &__title
    margin-bottom: 12px
  &__title-byline
    line-height: 24px
    font-size: 18px

  &__title-action
    cursor: pointer
    color: var(--color-redmedium)
    text-decoration: underline
    user-select: none
    display: inline-block
    margin-left: 0.5rem

.decklist
  &--section-header
    font-size: $font-size--sectionheader
    line-height: 24px
  &--subsection-header
    font-size: $font-size--body
    line-height: 24px

.deck-library
  &__header
    margin-bottom: 12px
    &--invalid
      color: var(--color-redlight)
  &__section-header
    margin-top: 12px
    &:first-child
      margin-top: 0
  &__entry
    margin-top: 6px
    display: flex
    align-items: center
    &:first-child
      margin-top: 0
  &__entry-count,
  &__entry-times
    display: inline-block
    width: 12px
    text-align: center
  &__entry-discipline
    $iconSize: 24px
    display: inline-block
    margin-left: 6px
    width: $iconSize
    height: $iconSize

.deck-faction
  &__header
    margin-bottom: 12px
    display: flex
    &--invalid
      color: var(--color-redlight)
  &__title
    display: inline-block
    margin-right: 6px
  &__clan-list
    display: flex
  &__clan-item
    $iconSize: 24px
    display: inline-block
    margin-left: 6px
    width: $iconSize
    height: $iconSize
  &__character
    margin-top: 6px
    display: flex
    align-items: center
    &:first-child
      margin-top: 0
    &--leader
      font-weight: bold
  &__leader-tag
    display: inline-block
    margin-left: 6px
  &__leader
    width: 30px
    height: 30px
    border-radius: 15px
    background: #CCC
    &--editable
      cursor: pointer
  &__bp,
  &__clan,
  &__name
    display: inline-block
  &__name
    margin-left: 6px

  &__name,
  &__leader-tag
    line-height: 24px
    font-size: 15px

  &__clan,
  &__discipline
    $iconSize: 24px
    width: $iconSize
    height: $iconSize

  &__clan
    margin-left: 6px

  &__discipline
    margin-left: 3px
