.ui-icon
  width: 100%
  height: 100%
  -webkit-mask-size: contain
  -webkit-mask-position: center center
  -webkit-mask-repeat: no-repeat
  mask-size: contain
  mask-position: center center
  mask-repeat: no-repeat
  display: inline-block
  &--negative
    background-color: var(--color-icon-negative)
  &--standard
    background-color: var(--color-icon-standard)
  span
    visibility: hidden

$other_icons: action agenda alchemy attack blood bloodpotency bloodpotencyrequirement city conspiracy crown damage delete edit faction hand_of_cards haven influence influence_modifier leader library mental menu ongoing physical ranged reaction ritual save scheme shield social special title unhosted_action
@each $icon in $other_icons
  .ui-icon_#{$icon}
    --svg-ui-icon: url("data-url:../../assets/icons/icon-#{$icon}.svg")
    -webkit-mask-image: var(--svg-ui-icon)
    mask-image: var(--svg-ui-icon)

.ui-icon--colored
  &.ui-icon_bloodpotency
    background-color: var(--color-blood)
  &.ui-icon_physical
    background-color: var(--color-physical)
  &.ui-icon_social
    background-color: var(--color-social)
  &.ui-icon_mental
    background-color: var(--color-mental)
  &.ui-icon_bloodpotencyrequirement
    background-color: var(--color-bloodreq)
