@import ../_vars

$actions-bar-height: 60px

.deckbldr
  display: grid
  gap: 10px
  grid-template-columns: repeat(1, 1fr)
  grid-template-rows: $actions-bar-height auto auto

  &-actions
    grid-column: 1 / 2
    grid-row: 1 / 2
  &-decklist
    grid-column: 1 / 2
    grid-row: 2 / 3
  &-choices
    grid-column: 1 / 2
    grid-row: 3 / 4

  @media screen and ( min-width: $breakpoint-ipad--horizontal)
    gap: 0 30px
    grid-template-columns: repeat(2, 1fr)
    &-actions
      grid-column: 1 / 3

    &-decklist
      grid-column: 1 / 2
      grid-row: 2 / 3
    &-choices
      grid-column: 2 / 3
      grid-row: 2/3

  &-collection
    margin-bottom: 40px

  &-filters,
  &-flaggroup
    display: inline-block
  &-flaggroup
    margin-bottom: 8px
  &-collectionitems--images
    margin: 0
    padding: 0
    display: grid
    gap: 10px
    place-items: start center
    grid-template-columns: repeat(2, 1fr)
    @media screen and ( min-width: $breakpoint-ipad--vertical)
      grid-template-columns: repeat(4, 1fr)
    @media screen and ( min-width: $breakpoint-ipad--horizontal)
      grid-template-columns: repeat(3, 1fr)

  &-collectionitem--image
    list-style: none

  &-rowpiece_quant--image
    text-align: center

  &-collectionitem--row
    list-style: none
    font-size: 16px
    line-height: 24px
    padding: 5px 0
    border-top: 1px solid #CCC
    display: flex
    flex-wrap: nowrap
    &:first-child
      border-top: none

  &-collectionitems--rows
    margin: 0
    padding: 0

  &-rowpiece_quant--row
    flex: 0 0 auto

  &-rowpiece_name
    margin-left: 10px
    flex: 1 1 auto
  &-rowpiece_props
    margin-left: 10px
    flex: 0 0 auto
    display: flex
    align-items: center
    height: 32px

  &-rowpiece_clan,
  &-rowpiece_disciplines,
  &-rowpiece_discipline,
  &-rowpiece_bp
    display: inline-block
  &-rowpiece_physical,
  &-rowpiece_social,
  &-rowpiece_mental,
  &-rowpiece_damage,
  &-rowpiece_shields,
  &-rowpiece_types,
  &-rowpiece_type
    display: none
    @media screen and ( min-width: $breakpoint-ipad--horizontal)
      &
        display: inline-block

  &-rowpiece_clan
    $size: 18px
    margin-left: 10px
    width: $size
    height: $size
  &-rowpiece_disciplines,
  &-rowpiece_types
    width: 60px
    height: 18px
    margin-left: 5px
  &-rowpiece_discipline,
  &-rowpiece_type
    $size: 18px
    margin-left: 3px
    width: $size
    height: $size
    &:first-child
      margin-left: 0

@media screen and ( min-width: $breakpoint-ipad--horizontal)
  .deckbldr,
  .deckbldr-actions
    position: sticky
    top: 0
  .deckbldr-actions
    background: #EEE
    z-index: 1
    margin: 0 ($safearea-margin * -1)
    padding: 0 $safearea-margin

  .deckbldr-decklist
    position: sticky
    top: $actions-bar-height

.deckbldr
  &-actions
    text-align: center
    padding-top: 5px

.actions
  &-item
    display: inline-block
    cursor: pointer
    span
      display: block
    &--inactive
      color: #999
  &-icon
    display: block
    height: 30px
  &-description
    font-size: 14px

.fltrhead
  display: flex
  align-items: baseline
  margin: 0 0 10px
  &-name
    margin: 0
    flex: 0 0 auto
  &-action
    cursor: pointer
    color: var(--color-redmedium)
    text-decoration: underline
    user-select: none
  &-primary
    margin-left: 10px
    flex: 1 0 auto
  &-secondary
    margin: 0
    flex: 0 0 auto

.quantpick
  $optHeight: 32px
  $optWidth: 20px
  display: inline-block

  &--1
    width: 2 * $optWidth
  &--3
    width: 4 * $optWidth

  &-option
    display: inline-block
    width: $optWidth
    height: $optHeight
    line-height: $optHeight
    text-align: center
    cursor: pointer
    font-size: 18px
    background: var(--color-greylight)
    box-shadow: inset 0 0 2px var(--color-text)

    &--active
      background: var(--color-greydeep)
      font-weight: bold

    input
      display: none
