@import ../_vars

.page-decks__content
  margin-top: $space-medium

.deck-index-filters
  margin-top: $space-small
  &__filter
    display: inline-block
    margin-left: $space-small

    label
      display: none
