.deckindexitem
  padding: 10px 0
  border-top: 1px solid #CCC
  &:first-child
    border-top: none

.brb
  display: flex
  &-block
    margin-left: 15px
    &:first-child
      margin-left: 0

  &-clans
    display: flex
  &-clan
    display: flex
    flex: 0 1 auto
    margin-left: 10px

  &-num
    height: 22px
  &-ico
    width: 22px
    height: 22px
