.search
  &-flaggroups
    display: flex
    flex-wrap: wrap
    max-width: 840px

  &-flaggroup
    flex: 0 0 max-content

  &-text
    margin-top: 10px

  &-results
    margin: 0
    padding: 0
    display: grid
    gap: 0 15px
    place-items: start center
    grid-template-columns: repeat(2, 1fr)
    @media screen and ( min-width: 710px)
      grid-template-columns: repeat(3, 1fr)
    @media screen and ( min-width: 945px)
      grid-template-columns: repeat(4, 1fr)
    @media screen and ( min-width: 1200px)
      grid-template-columns: repeat(5, 1fr)
    @media screen and ( min-width: 1600px)
      grid-template-columns: repeat(6, 1fr)

  &-result
    list-style: none
    cursor: pointer
    margin: 20px 0
