@import ../_vars

.search
  &-flaggroups
    display: flex
    flex-wrap: wrap
    max-width: 840px
    overflow: hidden
    margin-top: $space-medium
    gap: $space-micro

  &-flaggroup
    flex: 0 0 max-content

  &-text
    margin-top: $space-small

.searchresults
  display: grid
  gap: $space-large
  place-items: start center
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))

.searchpage
  &__filters
    margin-top: $space-large
  &__results
    margin-top: $space-large
